<%- include shared/headerBLinks.ejs %>
<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
	<!-- begin #header -->
	<%- include shared/header.ejs %>
	<!-- end #header -->
	<!-- begin #sidebar -->
	<%- include shared/sidebar.ejs %>
	<!-- end #sidebar -->
	<div id="content" class="content">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div style="border: 1px solid #dcdada;
				border-radius: 8px;">
					<h2 style="padding: 10px;"><img src="images/Flinn_360_logo.png" alt=""></h2>
					<p style="padding: 10px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit voluptas repudiandae ad aut, non
						quasi! Omnis soluta debitis nam quasi, minus et minima. Accusamus distinctio temporibus, labore
						consequatur dolores voluptatem?</p>
					<a class="btn btn-primary" id="vidBtn" target="_blank" href="https://www.flinn360science.com/" style="margin: 0px 10px 10px;border-radius: 50px;">Click to Enter</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div style="border: 1px solid #dcdada;
				border-radius: 8px;">
					<h2 style="padding: 10px;background-color:#354678;"><img style="width: 186px;height: 108px;" src="images/flinnprep_logo.png" alt=""></h2>
					<p style="padding: 10px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit voluptas repudiandae ad aut, non
						quasi! Omnis soluta debitis nam quasi, minus et minima. Accusamus distinctio temporibus, labore
						consequatur dolores voluptatem?</p>
					<a class="btn btn-primary" id="vidBtn" target="_blank" href="https://www.flinnprep.com" style="margin: 0px 10px 10px;border-radius: 50px;">Click to Enter</a>
				</div>
			</div>
		</div>
	</div>
	<!-- begin scroll to top btn -->
	<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
			class="fa fa-angle-up"></i></a>
	<!-- end scroll to top btn -->
</div>
<!-- end page container -->

<%- include shared/footer.ejs %>